
<div class="services-item-preview col-xs-12 col-sm-6 col-lg-3 checking-animate inactive {{animationType}}" data-id="{{id}}">
    <div class="service-item__container">
        <div class="service-item__image" style="background-image:url('{{imgSmallUrl}}');">
        </div>
        <div class="service-item__text">
            <div class="service-item__title">{{title}}</div>
            <div class="service-item__description">{{sortDescription}}</div>
        </div>
    </div>
</div>