
<a href="{{this.url}}" title="">
    <span class="home-color-block-item__background" style="background-image: url('{{this.background}}')"></span>
    <span class="home-color-block-item__background home-color-block-item__background-hover" style="background-image: url('{{this.backgroundHover}}')"></span>
    <div class="home-color-block-item__content-container">
        <span class="home-color-block-item__content-career">
            <span class="career-animation">
                <span class="career-animation__spins">
                    <img src="/img/cogs.gif" alt="" />
                </span>
                <span class="career-animation__head"></span>
                <span class="career-animation__body"></span>
            </span>

            <span class="home-color-block-item__content-career__text">
                <span class="home-color-block-item__content-career__text__small-text">{{this.smallText}}</span>
                <span class="home-color-block-item__content-career__text__big-text">{{this.largeText}}</span>
            </span>
        </span>
    </div>
</a>
