---
title: "Home Item"
---

<a href="{{this.url}}" title="">
    <span class="home-block-item__background" style="background-image: url('{{this.background}}')"></span>
    <span class="home-block-item__content-container">
        <span class="home-block-item__content">
            <span class="home-block-item__small-text">{{this.smallText}}</span>
            <span class="home-block-item__big-text">{{this.largeText}}</span>
        </span>

        <span class="home-block-item__content-second">
            {{this.description}}
        </span>
    </span>
</a>
